/* Global Properties */
:root {
    --main-bg-color: brown;
    --primary: rgb(80, 0, 0);
    font-family: Garamond, serif;
    --text-color: rgba(255, 255, 255, 0.9);
    color:var(--text-color);
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
  }
/* Navbar */
.navbarWrapper{
    background-color: var(--primary);
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,minmax(0,auto));
    z-index: 1;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarTitle{
    text-align: center;
}
.navbar > ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar > ul > li > a{
    text-decoration: none;
    padding: 8px 40px;
    transition: all .1s ease;
    color: var(--text-color);
    font-weight: bold;
    font-size: 23px;
}
.navbar > ul > li >a:hover{
    text-decoration: underline;
}
.NameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Name{
    font-variant: small-caps;
    font-size: 75px;
}
.mainWrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,minmax(00px,auto));
    gap: 010px;
    border-color: var(--b-compliment);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
}
.Subheader1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-variant: small-caps;
    font-size: 45px;
    row-gap: 0px;
}
.Subheader1Label{
    border-bottom: solid;
    border-bottom-color: var(--primary);
    grid-column: 1/-1;
    font-weight: 550;
}
.Subheader1Date{
    text-align: right;
}
.Subheader2Label{
    font-variant:normal;
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
}
.Subheader2Right{
    text-align: end;
    font-variant:normal;
    font-size: 20px;
    padding-top: 10px;
}
.Subheader3Label{
    font-variant: normal;
    font-size: 20px;
    
}
.Subheader3Date{
    font-variant: normal;
    font-size: 20px;
    text-align: end;
}
.Subheader3Content{
    font-variant: normal;
    font-size: 20px;
    grid-column: 1/-1;
    
}
.Subheader3Content ul{
    margin: 0;
    
}
.skillsTable{
    font-variant: normal;
    font-size: 20px;
    grid-column: -1/1;
    padding-top: 10px;
}
.skillsTable td{
    border-right: solid;
    border-width: 20px;
    border-color: rgba(0, 0, 0, 0);
}
/* For smaller screens, make more room by:
            - Eliminating margin
            - Reducing padding
            - Reduce name font size */
@media only screen and (max-width: 800px) {
    .navbar ul{
        margin:0;
        padding:0;
    }
    .navbar ul li a{
        flex-wrap:wrap;
        list-style: none;
        font-size: 20px;
        padding:15px;
    }
    .Name{
        font-size: 50px;
    }
    .mainWrapper{
        margin-left: 0;
        margin-right:0;
        margin-bottom: 300px;
    }
  }
  /* Increase the margin for very large screens */
  @media only screen and (min-width: 2000px) {
    .mainWrapper{
        margin-left:30%;
        margin-right:30%;
        margin-bottom: 300px;
    }
  }